header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4em;
  background-color: #bda57c;
  color: #ffffff;
}

header nav a {
  margin: 0 1em;
  color: #ffffff;
  text-decoration: none;
}

a {
  display:inline-block;
  font-size: 16px;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
  a:hover {
    color:#d9c4ad;
    background-color: #5f442f;
    border:0.1em solid #d9c4ad;
    border-radius:0.12em;
    cursor: pointer;
    }
    @media all and (max-width:30em){
    a{
    display:block;
    margin:0.4em auto;
    }
    }