header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4em;
  background-color: #bda57c;
  color: #ffffff;
}

header nav a {
  margin: 0 1em;
  color: #ffffff;
  text-decoration: none;
}

a {
  display:inline-block;
  font-size: 16px;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
  a:hover {
    color:#d9c4ad;
    background-color: #5f442f;
    border:0.1em solid #d9c4ad;
    border-radius:0.12em;
    cursor: pointer;
    }
    @media all and (max-width:30em){
    a{
    display:block;
    margin:0.4em auto;
    }
    }

.collection-grid {
  width: 300px;
  padding: 12px;
  margin: 0.5em;
}
  .collection-grid:hover {
    opacity: 0.8;
    border: 0.2em outset white;
    border-radius:0.7em;
    cursor: pointer;
  }

.artworkCard {
  width: 200px;
  padding: 15px;
  margin: 0.5em;
  border: 0.2em ridge rgb(246, 225, 188);
  border-radius: 0.9em;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0.8em;
}

button {
  cursor: pointer;
}